#nodeedit {
    position:absolute;
    display: none;
    overflow: auto;
    resize: none;
}

.node-text {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: white; /* text colour (it's SVG text) */
}

.node {
    fill: #FF5252 !important;
}

.node.hovered {
    fill: #d4c04b !important;
}