#nodeedit {
    position:absolute;
    display: none;
    overflow: auto;
    resize: none;

    margin: 15px;

    background: rgba(0, 0, 0, 0);
    border: none;
    outline: 0;
    cursor: text;
    color: white;

    font-family: 'Varela Round', sans-serif;
    font-size: 1em;

    line-height: 131%;
    text-align: center;
}

.node-text {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: white; /* text colour (it's SVG text) */
    
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
}

.indicator-text {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: grey; /* text colour (it's SVG text) */
    
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
}

.node {
    fill: #FF5252 !important;
}

.node.hovered {
    fill: #d4c04b !important;
}

table { border-collapse:collapse }

.option-popup-div {
    position: absolute;
    background-color: white;
    border-width: 5px;
    border-color: grey;
    border-style: solid;
    border-radius: 5px;
}

.option-row-selected {
    background-color: lightgrey;
}

.option-row:hover {
    background-color: lightgrey;
}

/* is only for completed lines, not potential ones */
.connector-line:hover {
    stroke: black !important;
}

.connector-marker:hover {
    fill: black !important;
}