#graph {
    background-color: rgb(241, 241, 241);
}

.edit-icon {
    content: url('https://api.iconify.design/simple-line-icons:pencil.svg?height=14&inline=true');
    vertical-align: -0.062em;
}

.delete-icon {
    content: url('https://api.iconify.design/simple-line-icons:trash.svg?height=14&inline=true');
    vertical-align: -0.062em;
}

#nodeedit {
    position:absolute;
    display: none;
    overflow: auto;
    resize: none;

    margin: 8px;

    background: rgba(0, 0, 0, 0);
    border: none;
    outline: 0;
    cursor: text;
    color: white;

    font-family: 'Varela Round', sans-serif;
    font-size: 1em;

    line-height: 131%;
    text-align: center;
}

.node-text {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: white; /* text colour (it's SVG text) */
    
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
}

.arrow-hitbox {
    transition-property: opacity;
    transition: 0.3s;
    opacity: 0;
}

.arrow-hitbox:hover {
    fill: #4bbce2;
    transition: 0.8s;
    transition-property: opacity;
    opacity: 0.1;
}

.indicator-text {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: rgb(153, 153, 153); /* text colour (it's SVG text) */
    
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
}

.node-drop-shadow {
    transition: 0.1s;
    opacity: 0;
}

.node-drop-shadow.visible {
    fill: grey;
    opacity: 0.1;
}

.node {
    transition: 0.2s;
    transition-property: fill;
    fill: #4fabca !important;
}

.node.hovered {
    fill: #4bbce2 !important;
}

.node.node-on-graph {
    fill: #FF5252 !important;
}

.node.hovered.node-on-graph {
    fill: yellow !important;
}

.hovered.node-on-graph ~ .node-text {
    fill:black
}


table { border-collapse:collapse }

.option-popup-div {
    position: absolute;
    background-color: white;
    border-width: 5px;
    border-color: white;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .1);
    border-style: solid;
    border-radius: 5px;
    z-index: 100;
}

.option-row-selected {
    background-color: rgb(236, 236, 236);
}

.option-row:hover {
    background-color: rgb(242, 242, 242);
}

/* is only for completed lines, not potential ones */
.connector-line {
    transition: 0.1s;
    transition-property: opacity;
}

.connector-line:hover {
    opacity: 0.6;
}