# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/write-reason.iml
.idea/inspectionProfiles/Project_Default.xml
analysis/__pycache__/arguments.cpython-36.pyc
analysis/__pycache__/const.cpython-36.pyc
analysis/.ipynb_checkpoints/analyse-checkpoint.ipynb
data/graph_categorisation.csv
data/orderings.txt
data/questionnaire_responses.csv
data/sh_data/log10_cond1.json
data/sh_data/log10_cond2.json
data/sh_data/log11_cond1.json
data/sh_data/log11_cond2.json
data/sh_data/log12_cond1.json
data/sh_data/log12_cond2.json
data/sh_data/log14_cond1.json
data/sh_data/log14_cond2.json
data/sh_data/log15_cond1.json
data/sh_data/log15_cond2.json
data/sh_data/log16_cond1.json
data/sh_data/log16_cond2.json
data/sh_data/log17_cond1.json
data/sh_data/log17_cond2.json
data/sh_data/log18_cond1.json
data/sh_data/log18_cond2.json
data/sh_data/log19_cond1.json
data/sh_data/log19_cond2.json
data/sh_data/log20_cond1.json
data/sh_data/log20_cond2.json
data/sh_data/log21_cond1.json
data/sh_data/log21_cond2.json
data/sh_data/log22_cond1.json
data/sh_data/log22_cond2.json
data/sh_data/log23_cond1.json
data/sh_data/log23_cond2.json
data/sh_data/log24_cond1.json
data/sh_data/log24_cond2.json
data/sh_data/log25_cond1.json
data/sh_data/log25_cond2.json
data/sh_data/log26_cond1.json
data/sh_data/log26_cond2.json
data/sh_data/log27_cond1.json
data/sh_data/log27_cond2.json
data/sh_data/log28_cond1.json
data/sh_data/log28_cond2.json
data/sh_data/log29_cond1.json
data/sh_data/log29_cond2.json
data/sh_data/log30_cond1.json
data/sh_data/log30_cond2.json
data/sh_data/log31_cond1.json
data/sh_data/log31_cond2.json
data/sh_data/log32_cond1.json
data/sh_data/log32_cond2.json
data/sh_data/log33_cond1.json
data/sh_data/log33_cond2.json
data/sh_data/log34_cond1.json
data/sh_data/log34_cond2.json
data/sh_graphs/graph-10.png
data/sh_graphs/graph-11.png
data/sh_graphs/graph-12.png
data/sh_graphs/graph-14.png
data/sh_graphs/graph-15.png
data/sh_graphs/graph-16.png
data/sh_graphs/graph-17.png
data/sh_graphs/graph-19.png
data/sh_graphs/graph-20.png
data/sh_graphs/graph-21.png
data/sh_graphs/graph-22.png
data/sh_graphs/graph-24.png
data/sh_graphs/graph-25.png
data/sh_graphs/graph-26.png
data/sh_graphs/graph-27.png
data/sh_graphs/graph-28.png
data/sh_graphs/graph-29.png
data/sh_graphs/graph-30.png
data/sh_graphs/graph-31.png
data/sh_graphs/graph-32.png
data/sh_graphs/graph-33.png
data/sh_graphs/graph-34.png
data/sh_score_data/marker1.csv
data/sh_score_data/marker2.csv
data/sh_score_data/marker3.csv
analysis/analyse.ipynb
analysis/const.py
analysis/marker_sheet_1.docx
analysis/marker_sheet_2.docx
analysis/marker_sheet_3.docx
analysis/marker1.csv
analysis/marker2.csv
analysis/marker3.csv
analysis/orderings
analysis/analyse.ipynb
analysis/const.py
analysis/orderings
marker_sheet_final.txt
pretasks/1.txt
pretasks/2.txt
pretasks/3.txt
pretasks/4.txt
pretasks/5.txt
pretasks/6.txt
pretasks/7.txt
pretasks/8.txt
pretasks/10.txt
pretasks/11.txt
pretasks/12.txt
pretasks/14.txt
pretasks/15.txt
pretasks/17.txt
pretasks/18.txt
pretask_sheet_final.txt
marker_sheet_xt.txt
analysis/__pycache__/graph_ordering.cpython-36.pyc
analysis/__pycache__/timeseries.cpython-36.pyc
analysis/figs/depth_first_hist.pgf
analysis/figs/depth_first_hist.pgf
analysis/figs/graph_vs_doc_time.pgf
analysis/figs/depth_first_hist.pgf
analysis/figs/graph_vs_doc_time.pgf
pretask_sheet_adds.txt
pretasks/21.txt
pretasks/22.txt
pretasks/23.txt
pretasks/25.txt
pretasks/26.txt
*.pyc
analysis/corr.csv
