@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
    text-align: center;
    font-size: large;
    font-family: 'Varela Round' !important;
}

.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 320px;
    min-height: 110px; 
}

.mostwidth {
    width: 800px;
    max-width: 80%;
    margin-bottom: 30px;
}