.slate-editor {
    font-family: 'Crimson Text', serif;
    font-size: 120%;
    padding: 50px;
    min-height: 100%;
}

.node-link {
    display: inline;
    background: papayawhip;
    padding: 0.1em 0;
}

.node-body {
    margin-top: 0px;
    background: papayawhip;
}

.node-body.hovered, .node-body:hover, .node-link.hovered, .node-link:hover {
    background: yellow;
}