.slate-editor {
    font-family: 'Crimson Text', serif;
    font-size: 120%;
}

.node-link {
    display: inline;
    background: papayawhip;
    padding: 0.1em 0;
}

.node-body {
    background: papayawhip;
}

.node-body.hovered .node-body:hover .node-link.hovered, .node-link:hover {
    background: yellow;
}