.slate-editor {
    font-family: 'Crimson Text', serif;
    font-size: 120%;
    padding: 50px;
    min-height: 100%;
}

.slate-editor div {
    margin-bottom: 20px;
}

.section {
    background-color: papayawhip;
}

.node-link {
    display: inline;
    background: papayawhip;
    padding: 0.1em 0;
}

.section .node-link {
    background: none;
}

.node-body {
    margin-top: 0px;
}

.section.hovered, .section:hover, .node-link.hovered, .node-link:hover, .node-body:hover .node-body.hovered {
    background: yellow;
}

.placeholder {
    /* font-style: oblique; */
    color: grey;
}