.load-project-table {
    justify-content:center;
    align-items:center;
    display:flex;
    padding: 30px;
    text-align: left;
}

.load-project {
    padding: 30px;
    justify-content:center;
    align-items:center;
    text-align: center;
}

.intro-section {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 320px;
    min-height: 110px; 
}

.privacy-notice {
    padding: 10px;
    background-color: papayawhip;
}

.play-button  {
    background-color: #FF5252 !important;
}