.load-project-table {
    justify-content:center;
    align-items:center;
    display:flex;
    padding: 30px;
    text-align: left;
}

.license {
  color: grey;
  background-color: papayawhip;
  padding: 10px;
}

.license h4 {
  margin: 0;
  padding: 0;
}

.license p {
  margin-top: 5px;
}

.load-project {
    display: flex;
    padding: 30px;
    justify-content:center;
    align-items:center;
    text-align: center;
}

.intro-section {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 320px;
    min-height: 110px; 
}

.logs-grid {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%
}

.log-load-img {
  object-fit: cover;
  width:250px;
  height:250px;
}

.log-load-button {
  padding: 5px;
}

.log-load-button:hover {
  background-color: papayawhip;
  cursor: pointer;
}

.log-load-button:active:hover {
  background-color: rgba(255, 217, 0, 0.5);
}

.play-button  {
    background-color: #FF5252 !important;
}

ol.steps {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin: 0;
  padding: 0;
}
ol.steps li {
  counter-increment: my-awesome-counter;
}
ol.steps li::before {
  content: "Step " counter(my-awesome-counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.5rem;
  font-family: 'Crimson Text', serif;
  line-height: 1;
}