.experiment-controls {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.experiment-controls button {
    margin-left: 5px;
}

.countdown {
    color: grey;
    margin-right: 20px;
}

.countdown.low-time {
    color: red;
}

.timeline {
    background-color: lightgrey;
    height: 100vh;
    overflow-y: auto;
    width: 250px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.timeline p {
    text-align: center;
}

.timeline button {
    text-align: left;
    width: 100%
}

.timeline button.red {
    background-color: lightcoral;
}

.timeline button.blue {
    background-color: lightblue;
}

.timeline button.green {
    background-color: lightgreen;
}

.timeline button.yellow {
    background-color: rgba(255, 217, 0, 0.5);
}

.timeline button.explore-head {
    outline-width: 2px !important;
    outline-style: solid;
    text-decoration: underline !important;
}