.experiment-controls {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.experiment-controls button {
    margin-left: 5px;
}

.countdown {
    color: grey;
    margin-right: 20px;
}

.countdown.low-time {
    color: red;
}

.slide-out-pane {
    background-color: lightgrey;
    height: 100vh;
    overflow-y: auto;
    width: 200px;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: small;
}

.slide-out-pane.closed {
    display: none;
}

.timeline-toggle-button  {
    position: absolute;
    right: 200px;
    top: 50px;
    transform: translate(0, -50%);
}

.timeline-toggle-button.closed  {
    right: 0px;
}

.timeline {
    background-color: lightgrey;
}

.timeline p {
    text-align: center;
}

.timeline button {
    text-align: left;
    width: 100%
}

.timeline button.red {
    background-color: lightcoral;
}

.timeline button.blue {
    background-color: lightblue;
}

.timeline button.green {
    background-color: lightgreen;
}

.timeline button.yellow {
    background-color: rgba(255, 217, 0, 0.5);
}

.timeline button.explore-head {
    text-decoration: underline !important;
}

.timeline-description {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-style: italic;
    background-color: papayawhip;
}