.experiment-controls {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.experiment-controls button {
    margin-left: 5px;
}

.countdown {
    color: grey;
    margin-right: 20px;
}

.countdown.low-time {
    color: red;
}